.continente {
  background: rgba(245, 243, 243, 0.938);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: 20px 0;
  box-shadow: 1px 1px 10px;
}

.continente a {
  text-decoration: none;
}

.continente h4 {
  margin: 0;
  color: #007bff;
  transition: all 0.3s;
}

.continente h4:hover {
  color: tomato;
  text-shadow: 1px 1px 20px rgb(175, 175, 175);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px 0;
}

@media (max-width: 991.98px) {
  /*---PÁGINA PROMOÇÃO---*/

  .cards {
    flex-direction: column;
  }

  /*---FIM PÁGINA PROMOÇÃO---*/
}
