/* ----PÁGINA CADASTRO---- */

#cadastro-container {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 60px 40px;
  margin: 80px 0 120px 0;
  color: rgb(95, 95, 95);
  max-width: 40%;
  box-shadow: 1px 1px 15px rgb(36, 36, 36);
}

#cadastro-form {
  display: flex;
  flex-direction: column;
}

#cadastro-form label {
  font-weight: 600;
  padding: 10px 0;
}

#cadastro-form div {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.input-pairs input {
  outline: 2px solid grey;
  padding: 8px;
  color: rgb(80, 80, 80);
  background: rgb(255, 255, 255);
  border: none;
}

#cadastro-form input {
  border-radius: 3px;
}

.btn-cadastro {
  margin: 40px auto 0 auto;
}

.success-message {
  color: rgb(3, 161, 87);
  font-weight: 600;
}

.fail-message {
  color: rgb(161, 3, 43);
  font-weight: 600;
}

/* ----FIM PÁGINA CADASTRO---- */

/* -------------------- MOBILE -------------------- */


@media (max-width: 991.98px) {

    /*---PÁGINA CADASTRO---*/

    #cadastro-container {
        max-width: fit-content;
        padding: 15px;
        margin: 30px 0;
    }

    /*--- FIM PÁGINA CADASTRO---*/

}