/*---PÁGINA PROMOÇÃO---*/

#promo-header {
  color: rgb(95, 95, 95);
  text-align: left;
  width: 100%;
  display: flex;
  padding-top: 10px;
}

.promo-icon {
  color: tomato;
}

.promo-header-text {
  padding-left: 10px;
}

.promo-header-text p {
  font-size: 1.1rem;
  color: tomato;
}

#promo-body {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.bg-tomato {
  background: tomato;
}

/*---FIM PÁGINA PROMOÇÃO---*/

/* -------------------- MOBILE -------------------- */


@media (min-width: 1360.98px) {
  #promo-body {
    min-height: 80vh;
  }
}

@media (max-width: 991.98px) {
  /*---PÁGINA PROMOÇÃO---*/

  #promo-header {
    flex-direction: row;
    padding: 5px;
  }

  /*---FIM PÁGINA PROMOÇÃO---*/
}
