.brand-color {
    color: #007bff;
    font-size: 1.2rem;
}

.btn-plus {
    color: white;
    background: #007bff;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease-in;
    border: none;
    border-radius: 3px;
}

.btn-plus:hover {
    background: #1d5897;
    color: white;
}

.btn-plus:active {
    background: #18304b;
    color: white;
}

.btn-shy {
    color: white;
    background: #353535f6;
    padding: 8px 20px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease-in;
    border: none;
    border-radius: 3px;
}

.btn-shy:hover {
    background: #161616f6;
    color: white;
}

.btn-shy:active {
    background: #000000f6;
    color: white;
}